*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    height: 98vh;
    width: 100vw;
    border: 2px soild red;
    display:grid;
    gap:10px;
    /* justify-content: center; */
    /* align-content: center; */
    /* grid-template-columns:repeat(1,100px); */
    /* grid-template-rows:repeat(1,100px); */  
}
.child1{
    background-color: blue;
    grid-column-start:1;
    grid-column-end:6; 
    grid-row-start:1;
    grid-row-end:2;
} 
.child2{
    background-color:greenyellow;
    grid-column-start:1;
    grid-column-end:2; 
    grid-row-start:2;
    grid-row-end:5;
} 
.child3{
    background-color:skyblue;
    grid-column-start:2;
    grid-column-end:5; 
    grid-row-start:2;
    grid-row-end:5;
} 
.child4{
    background-color: rgb(255, 0, 111);
    grid-column-start:5;
    grid-column-end:6; 
    grid-row-start:2;
    grid-row-end:5;
} 
.child5{
    background-color: rgb(255, 0, 0);
    grid-column-start:1;
    grid-column-end:6; 
    grid-row-start:5;
    grid-row-end:6;
} 